@import url('../../Variables.css');

.Project{
    display: flex;
    width: 100%;
    padding: 40px;
    flex-direction: row;
    align-items: flex-start;

    gap: 40px;
    border-radius: 24px;
    border: 2px solid var(--Black-100);
    background-color: var(--White-500);
    text-decoration: none;
    transition: color 300ms ease-out;
  
    color:black;
}

.Project.hovered{
    background-color: var(--White-200);

}




.Project.pressed{
    background-color: var(--Black-30);
    border-color: var(--Black-300);
}

.ImageContainer{
    max-width: 45%;
    height: 280px;
    border-radius: 16px;
    border: 1px solid var(--Black-100);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

img{
    height:100%;
    width: auto;
    object-fit: cover;
}



.ProjectInformationContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.ProjectInformation{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
}

.TitleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.ProjectDetails{
    display: flex;
    /* padding: 8px 16px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    /* border: 1px solid var(--Black-600);
    background: var(--Red-50); */
}

.ProjectDetails p{
    color: var(--Black-300);
}

.TitleContainer p{
    color: var(--Black-500);
}

p{
    color: var(--Black);
} 

@media (max-width: 1322px) {
    .circle{
        display:none;
    }

    .ProjectDetails{
        flex-direction: column;
        gap:8px;
        align-items: start;
    }
}

@media (max-width: 832px) {
    .Project{
        flex-direction: column;
    }
    .ImageContainer{
        width:100%;
        max-width: none;
    }
    .img{
        width:100%;
    }
    .ProjectInformationContainer{
        align-items: flex-start;
        gap: 24px;
    }
    
}

.circle{
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background-color: var(--Red-200);
}