#container{
    background-color: #0B0001;
    width:100%;
    justify-content:center;
    align-items:center;
}

#projects{
    display:flex;
    width:100%;
    
}

a{
   
    overflow:hidden;
}

@media (max-width: 767px) {
    #projects{
        flex-direction:column;
        flex-wrap:nowrap;
        align-items:center;
        gap: 54px;
    }
    a{
        width: 80%;
        height:auto;
    }
  }
  
  @media (min-width: 768px) {
    #projects{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 54px;
        justify-content:center;

    }
    a{
        width:39%;
        height: 65vh;
    }
  }
  

img{
    height:100%;
    width:100%;
    object-fit: contain;
}


#container .h1{
    color:#F6F7EC;
}