.AboutText {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    flex: 3; /* 60% of the container */
}

.MeImage {
    width: 100%;
}

#aboutSide .ImageContainer {
    max-width: 100%;
    flex: 2; /* 40% of the container */
    height: fit-content;
}

.AboutContainer {
    width: 60%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: auto;
    margin-top: 160px;
}

@media (max-width: 576px) {
    
    .AboutContainer{
        width:100%;
        padding: 0px 32px;
    }
    

}
@media (max-width:832px){
    #aboutSide{
        flex-direction: column-reverse;
    }
    .AboutText{
        width:100%;
    }
    #aboutSide .ImageContainer{
        
        max-height: 40vh;
    }
    
}

.buttonsSection{
    display:flex;
    flex-direction: row; 
    gap: 16px;
    width:100%;
    justify-content: center;
    flex-wrap:wrap;
}