@import url('../../Variables.css');
@import url('../Link/Link.css');


.Header{
    display: flex;
    width: 100%;

    padding: 32px 56px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin:0;
    background: var(--Cream-Linear, linear-gradient(0deg, rgba(246,242,233, 0.00) 9.5%, #f6f2e9 50.09%));
    position:fixed;
    top:0;
}

.NavLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 34px;
}
@media (max-width:576px){
    .NavLinks{
        flex-direction: column;
        gap:8px;
    }
    .Header{
        align-items:start;
        padding: 32px;
    }
}
